# See https://help.github.com/en/articles/about-code-owners for info on how to
# take ownership of parts of the code base that should be reviewed by another
# team.

# This will cause DIO to be assigned review of any PR opened on this repo.
# DIO is the primary maintainer of this module as its used to deploy the
# internal instance of HDP.
#
# Additionally, the HDP team will also get pinged.
* @puppetlabs/dio @puppetlabs/hdp

